{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div class="header">
  <h1>About us</h1>
</div>

<div class="topnav">
  <a href="{% url 'contacts' %}">Contacts</a>
  <a href="{% url 'news' %}">News</a>
  <a href="{% url 'homepage' %}">Homepage</a>
</div>
<h1> What Makes a Great About Us Page? </h1>
<h3>Your About Us page should be:<br>
    <br>
Informative. It doesn’t always have to tell your whole story, but it should at least provide people with an idea of .<br>
    <br>
Contain social proof, testimonials, and some personal information that visitors can relate to, such as education, family, etc.<br>
    <br>
Useful.<br>
    <br>
Engaging.<br>
    <br>
Easy to navigate.<br>
    <br>
Accessible on any device.<br>
    <br>
Does that all sound complicated?<br>
    <br>
It really isn’t.<br>
    <br>
The main purpose of your About Us page is to give your visitors a glimpse into who you are as a person or a business (or sometimes both).<br>
    <br>
As users discover your brand, they need to distinguish what sets you apart and makes you… you.<br>
    <br>
This often requires finding the right balance between compelling content and a design carefully planned to look the part.<br>
    <br>
Conveying your identity in a fun and approachable – but also reliable and informative – way is challenging.<br>
    <br>
If you know who you are and your goal for your site, the About Us page should come naturally.<br>
    <br>
However, if you’re looking for some inspiration, you can always check out the following 25 awesome examples of About Us pages.<br>
</h3>

</body>


<style>
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}


/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
</style>

</html>